.wrapper__opened {
  visibility: visible;
  opacity: 1;
  transition: all 0.7s ease;

  > .menu {
    transform: scale(1);
  }
}

.wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
}

.wrapper,
.wrapper__opened {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100;
  padding: 90px 0;
  transform: scale(1.5);
  transition: all 0.7s ease;

  &__list {
    // line-height: 80px;
    margin: 50px auto;
    list-style: none;
    z-index: 4;
    color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
    text-transform: uppercase;
    transform: scale(1);

    &:hover,
    &:focus {
      color: rgba(5, 5, 5, 1);
      transform: scale(1.1);
      font-weight: 700;
    }

    &__item {
      text-decoration: none;
    }
  }

  &__fade {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 80;
    background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.6) 0%,
      rgba(55, 55, 55, 0.6) 25%,
      rgba(85, 85, 85, 0.6) 50%,
      rgba(55, 55, 55, 0.6) 75%,
      rgba(30, 30, 30, 0.6) 100%
    );
  }

  &__bcg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    background: rgba(0, 0, 0, 0) url(../../assets/images/background.jpg) center
      center / cover;
  }
}

@media (min-width: 410px) {
  .menu__list {
    margin: 75px auto;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .menu {
    padding: 80px 0;
    &__list {
      margin: 18px auto;
    }
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .menu {
    padding: 120px 0;
    &__list {
      margin: 100px auto;
    }
  }
}

@media (min-width: 1024px) {
  .menu {
    padding: 120px 0;
    &__list {
      margin: 55px auto;
      &__item {
        font-size: 20px;
      }
    }
  }
}
@media (min-width: 1600px) {
  .menu {
    padding: 160px 0;
  }
}
