@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Merienda&family=Space+Mono&display=swap");

.about {
  padding: 40px 30px 10px;
  position: relative;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 10, 1) 15%,
    rgba(55, 55, 55, 1) 35%,
    rgba(85, 85, 85, 1) 50%,
    rgba(55, 55, 55, 1) 75%,
    rgba(25, 25, 25, 1) 90%,
    rgba(15, 15, 15, 1) 100%
  );

  &__create {
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;

    &__text {
      position: relative;
      // padding-bottom: 15px;
      font-size: 14px;
      text-align: justify;
      color: white;
      z-index: 3;

      &__p {
        position: relative;
        margin-top: 10px;
        z-index: 3;

        &__span {
          color: rgba(220, 200, 170, 1);
          z-index: 3;
        }
      }

      &__title {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        color: #b9a165;
        text-align: justify;
        z-index: 3;
        font-family: "Josefin Sans", sans-serif;
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
      }
    }

    &__imgWrapper {
      position: absolute;
      float: right;
      right: 0;
      bottom: 0;
      width: 60%;
      height: 90%;
      background: url(../../assets/images/bigger.png) no-repeat center / contain;
      z-index: 1;
      opacity: 0.8;
    }
  }

  &__work {
    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      color: #b9a165;
      padding-top: 20px;
      padding-bottom: 8px;
      text-align: center;
      font-family: "Josefin Sans", sans-serif;
      text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
    }

    &__text {
      font-size: 14px;
      text-align: justify;
      color: white;

      &__p {
        margin-bottom: 30px;
      }

      &__span {
        color: rgba(220, 200, 170, 1);
        text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
      }
    }
  }
}

@media (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2) {
  .about__resume__job {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 40px 60px 10px;

    &__create {
      display: flex;
      flex-direction: row;

      &__text__p {
        width: 70%;
      }

      &__imgWrapper {
        width: 40%;
      }
    }

    &__work__text {
      font-size: 14px;
    }

    &__typing {
      top: 48%;
    }
  }
}

@media (min-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 0 15% 30px;

    &__work {
      padding-bottom: 20px;

      &__text {
        display: flex;
        flex-direction: row;
        // align-items: center;
        > div {
          margin: 10px 30px 0px 10px;
        }

        &__p {
          // padding-top: 40px;
          width: 33%;
          margin: auto 0;
        }
      }
    }

    &__create {
      &__text__title {
        white-space: nowrap;
      }
      &__imgWrapper {
        width: 30%;
      }
    }
  }
}

@media (min-width: 800px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 0 15% 30px;

    &__work__text__p {
      width: 40%;
    }
  }
}

@media (min-width: 800px) {
  .about {
    &__work__text {
      display: flex;
      > div {
        margin: 10px 30px 0px 10px;
      }

      &__p {
        margin: auto 0;
        width: 40%;
      }
    }
    &__create {
      &__text__p {
        width: 60%;
      }
      &__imgWrapper {
        width: 40%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 40px 120px 30px;

    &__create {
      margin: 30px auto;
      display: flex;
      padding: 0 15%;
      &__text {
        &__p {
          width: 55%;
          font-size: 16px;
        }
        &__title {
          white-space: normal;
          font-size: 24px;
        }
      }
      &__imgWrapper {
        width: 55%;
      }
    }

    &__work {
      padding: 0 15%;
      &__title {
        white-space: normal;
        font-size: 24px;
      }
      &__text__p {
        font-size: 16px;
        margin: auto 0;
      }
    }
  }
}
@media (min-width: 1180px) {
  .about {
    padding: 40px 120px 10px;

    &__create {
      margin-top: 30px;
      padding: 0 15%;
      &__text {
        &__p {
          width: 50%;
          font-size: 18px;
        }
        &__title {
          white-space: nowrap;
          font-size: 28px;
          width: 100%;
        }
      }
      &__imgWrapper {
        // padding: 0 25%;
        // height: 95%;
        left: 40%;
      }
    }
  }
}

@media (min-width: 1600px) {
  .about {
    &__create {
      margin-top: 30px;
      padding: 0 25%;
      &__text {
        &__title {
          font-size: 30px;
          margin-bottom: 15px;
        }
        &__p {
          width: 50%;
          font-size: 20px;
          margin: auto 0;
        }
      }
      &__imgWrapper {
        width: 25%;
        // padding: 0 25%;
        height: 95%;
        left: 50%;
      }
    }

    &__work {
      padding: 0 25%;
      padding-bottom: 30px;
      &__title {
        white-space: normal;
        font-size: 30px;
      }
      &__text {
        display: flex;
        > div {
          margin: 30px 30px 0px 30px;
        }
        &__p {
          width: 50%;
          font-size: 20px;
          margin: auto 0;
        }
      }
    }
  }
}
