.about {
  padding: 40px 30px 10px;
  position: relative;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(10, 10, 10, 1) 15%,
    rgba(55, 55, 55, 1) 35%,
    rgba(85, 85, 85, 1) 50%,
    rgba(55, 55, 55, 1) 75%,
    rgba(25, 25, 25, 1) 90%,
    rgba(15, 15, 15, 1) 100%
  );

  &__info {
    position: relative;
    align-items: flex-start;
    padding-bottom: 25px;

    &__imgWrapper {
      // width: 100px;
      height: 340px;
      justify-self: center;
      // border-radius: 100%;
      background: url(../../assets/images/big7.png) no-repeat center / contain;
      // border-radius: 100%;
      // background: url(../../assets/images/32.png) no-repeat center / contain;
    }
  }

  &__create {
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;

    &__text {
      position: relative;
      // padding-bottom: 15px;
      font-size: 14px;
      text-align: justify;
      color: white;
      z-index: 3;

      & p {
        margin-top: 10px;
      }

      &__span {
        color: rgba(220, 200, 170, 1);
        z-index: 3;
      }

      &__title {
        position: relative;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        color: rgba(220, 200, 170, 1);
        text-align: justify;
        z-index: 3;
      }
    }

    &__imgWrapper {
      position: absolute;
      float: right;
      right: 0;
      bottom: 0;
      width: 60%;
      height: 90%;
      background: url(../../assets/images/bigger.png) no-repeat center / contain;
      z-index: 1;
      opacity: 0.8;
    }
  }

  &__me {
    margin: auto 0;
    padding: 0 0 10px 10px;
    color: white;
    // font-size: 12px;
    text-align: left;

    &__name {
      font-size: 20px;
      text-transform: uppercase;
      color: rgba(220, 200, 170, 1);
      padding-bottom: 8px;
    }

    &__text {
      font-size: 13px;
      text-align: justify;

      &__span {
        color: rgba(220, 200, 170, 1);
      }
    }
  }

  &__typing {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: row;
    font-size: 22px;
    transform: translateX(-50%);
    color: white;
    white-space: nowrap;

    &__intro {
      margin-right: 7px;
    }

    &__typed {
      font-weight: 700;
      color: rgba(220, 200, 170, 1);
    }
  }

  &__resume {
    position: absolute;
    bottom: 35%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;

    &__job {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 500;
      color: white;
      text-shadow: -1px 0 rgba(55, 55, 55, 1), 0 1px rgba(55, 55, 55, 1),
        1px 0 rgba(55, 55, 55, 1), 0 -1px rgba(55, 55, 55, 1);
      cursor: pointer;
      transform: scale(1);

      &:hover {
        // transform: scale(1.03);
        color: rgba(220, 200, 170, 1);
      }

      &__fa {
        margin: auto;
        color: white;
        font-size: 10px;
      }
    }
  }

  &__work {
    display: flex;
    flex-direction: column;

    &__title {
      width: 100%;
      font-size: 20px;
      text-transform: uppercase;
      color: rgba(220, 200, 170, 1);
      padding-top: 20px;
      padding-bottom: 8px;
      text-align: center;
    }

    &__text {
      font-size: 14px;
      text-align: justify;
      color: white;

      &__p {
        margin-bottom: 30px;
      }

      &__span {
        color: rgba(220, 200, 170, 1);
      }
    }
  }
}

@media (min-width: 400px) and (-webkit-min-device-pixel-ratio: 2) {
  .about__resume__job {
    font-size: 14px;
  }
}

@media (min-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 40px 60px 10px;

    &__create {
      position: relative;
      display: flex;
      flex-direction: row;
      position: relative;

      &__text {
        width: 70%;
      }

      &__imgWrapper {
        width: 40%;
      }
    }

    &__info__imgWrapper {
      height: 75vh;
    }

    &__me {
      &__name {
        font-size: 26px;
      }
      &__text {
        font-size: 14px;
      }
    }

    &__work__text {
      font-size: 14px;
    }

    &__typing {
      top: 48%;
    }

    &__resume {
      bottom: 32%;
    }
  }
}

@media (min-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 0 15%;

    &__info {
      padding-bottom: 30px;
    }
    &__work {
      padding-bottom: 20px;

      &__text {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__p {
          // padding-top: 40px;
          width: 33%;
        }
      }
    }

    &__create {
      &__text__title {
        white-space: nowrap;
      }
      &__imgWrapper {
        width: 30%;
      }
    }

    &__resume {
      padding: 0 25%;
    }
  }
}
@media (min-width: 800px) {
  .about {
    &__info__imgWrapper {
      height: 45vh;
    }

    &__typing {
      font-size: 30px;
    }

    &__resume {
      bottom: 35%;
      padding: 0 15%;

      &__job {
        font-size: 16px;

        &__fa {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 800px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 0 15%;

    &__work__text__p {
      width: 40%;
    }

    &__info__imgWrapper {
      height: 75vh;
    }

    &__typing {
      font-size: 24px;
    }

    &__resume {
      bottom: 33%;
      padding: 0 15%;

      &__job {
        font-size: 14px;

        &__fa {
          font-size: 14px;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 40px 120px 10px;

    &__info__imgWrapper__image {
      margin: 0 0 0 0;
      width: 210px;
      height: 270px;
    }

    &__me {
      padding-left: 30px;
    }

    &__resume {
      bottom: 35%;
      padding: 0 25%;
    }
  }
}
